html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

.vertical-outer {
    display: table;
    height: 10em
}

.vertical-inner {
    display: table-cell;
    vertical-align: middle
}

@mixin mobile-width {
	// width: calc(100% - 30px);
	// margin-left: 15px;
	width: 75%;
	margin-left: 5%;
}

@mixin default-width {
	width: 80%;
	margin-left: 10%;
}