@font-face {
	font-family: 'Gilroy-ExtraBold';src: url('../webfonts/36DB87_0_0.eot');src: url('../webfonts/36DB87_0_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/36DB87_0_0.woff2') format('woff2'),url('../webfonts/36DB87_0_0.woff') format('woff'),url('../webfonts/36DB87_0_0.ttf') format('truetype');
}

// Typography
$base-font-family: 'Raleway', serif;
$heading-font-family: 'Alice', serif;
$nav-font-family: 'Gilroy-ExtraBold', sans-serif;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.1851851852;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: 1.5em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
// $blue: #304BCB;
// $bright-blue: #4B67F3;
// $dark-gray: #333;
// $medium-gray: #999;
// $light-gray: #ddd;
// $white: #fff;
// $mustard: #ffc857;
// $red-orange: #F0544F;
// $black: #100007;
// $pink: #D81E5B; //#FF8CA8;
// $light-pink: #FFA6C1;

$white: #FFFFFF;
$light-gray-1: #F9F2F2;
$light-gray-2: #DCD5D8;
$slate-gray: #333333;
$peach: #FEC4B6;
$lime: #C4FD75;
$blue: #2A48D3;
$electric-blue: #1502FF;


// Font Colors
$base-font-color: $slate-gray;
$action-color: $lime;
$hover-color: $peach;

// Border
$base-border-color: $light-gray-2;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: $electric-blue;
$secondary-background-color: tint($base-border-color, 75%);

// Focus
$focus-outline-color: transparentize($action-color, 0.4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Animations
$base-duration: 150ms;
$base-timing: ease;
